<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419448165849-mbfhqdc1kmchgrs34thj5gliu97e0ema.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419448165849-mbfhqdc1kmchgrs34thj5gliu97e0ema</string>
	<key>API_KEY</key>
	<string>AIzaSyDFY8nyp4lYGgfAhvMqMJP_6K3YMLBpmFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>419448165849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>gym-app-77e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-app-77e7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419448165849:ios:46e7f5fe7b1ca29e7735c8</string>
</dict>
</plist>